body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1 {justify-content: center;text-align: center;}
p {display: flex;font-size: 18px;justify-content: center;align-items: center;}